@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.slider-area .container {
  padding-top: 50%;
  background: url("../images/background.png") center top / cover no-repeat;
  margin: 16px auto 50px;
  position: relative;
}
.container .content-slider {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
#about {
  margin: 50px 0;
}
#experiences {
  margin: 50px 0;
}
#contact {
  margin: 50px 0;
}
.footer-area {
  margin: 50px 0;
}
.experience-area ul.nav__menu li.nav-item button.menu-item,
.header-area .header-btn .primary-btn {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 500;
  background: #1f2044;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  line-height: 1.8rem;
  letter-spacing: normal;
  padding: 1rem 2rem;
}
.experience-area ul.nav__menu li.nav-item button.menu-item:hover,
.header-area .header-btn .primary-btn:hover {
  color: #ffffff;
  background: #ffb400;
}

.about-area .content-area .personal-info .download-btn,
.slider-area .slider-content .slider-button .banner-btn {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.5rem;
  background: #1f2044;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  line-height: 2.8rem;
  letter-spacing: 0.75px;
  padding: 1rem 2.5rem;
  text-decoration: none;
}
.about-area .content-area .personal-info .download-btn:hover,
.slider-area .slider-content .slider-button .banner-btn:hover {
  background: #ffb400;
  color: #e5e5e5;
}

.slider-area .slider-content .animated-title .word,
.slider-area .slider-content .animated-title h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 7.5rem;
  margin: 0;
}

.section-inner-content .section-title h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 4.2rem;
  text-transform: uppercase;
  line-height: 4.8rem;
  letter-spacing: 0.3rem;
  padding-bottom: 1.5rem;
  position: relative;
  margin: 0;
}

.section-inner-content h6.sub-title {
  padding-top: 2.5rem;
  margin: 0;
  opacity: 0.8;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 500;
  line-height: 2.8rem;
  position: relative;
  display: inline-block;
}

.experience-area .tab-item .experience-part ul li h6 span,
.about-area .content-area .inner-tile p span,
span,
.service-item span {
  color: #1f2044;
}

.experience-area .tab-item .experience-part ul li p,
.about-area .content-area .inner-text p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin: 0;
}

* {
  box-sizing: border-box;
  outline: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  position: relative;
  font-family: "Open Sans", sans-serif;
  background: radial-gradient(#fff1eb, #ace0f9);
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .word,
body a {
  color: #1f2044;
}
body p {
  color: #1f2044;
}
body .btn {
  color: #e5e5e5;
}
body .btn-link {
  color: #1f2044;
}
body .sticky ul li a {
  color: #1f2044;
}
body .amimation {
  background: #ffffff;
}

body.active {
  background: #1f2044;
  color: #e5e5e5;
}
body.active h1,
body.active h2,
body.active h3,
body.active h4,
body.active h5,
body.active h6,
body.active .word,
body.active .primari-btn,
body.active a {
  color: #e5e5e5;
}
body.active .bg-active {
  background: #1f2044 !important;
}
body.active p {
  color: #ffffff;
  opacity: 0.8;
}
body.active .btn,
body.active .btn-link {
  color: #e5e5e5;
}
body.active .amimation {
  background: transparent;
}
body.active i::before {
  color: #ffffff;
}
body.active .header-area nav.main-nav ul.primary-menu li > ul.sub-menu > li a {
  color: #fff;
}

html {
  font-size: 62.5%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

button,
button:focus,
.btn,
.btn:focus,
input,
input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-inner-content {
  padding-bottom: 5rem;
}
.section-inner-content .section-title h2 span {
  color: #ffb400;
}
.section-inner-content .section-title h2 span::before,
.section-inner-content .section-title h2 span::after {
  display: none;
}
.section-inner-content .section-title span {
  position: relative;
}
.section-inner-content .section-title span::before {
  content: "";
  width: 10rem;
  height: 0.1rem;
  position: absolute;
  left: 1.5rem;
  border: 1px solid;
  border-color: #1f2044;
}
.section-inner-content .section-title span::after {
  content: "";
  width: 10rem;
  height: 0.1rem;
  position: absolute;
  right: 1.5rem;
  border: 1px solid;
  border-color: #1f2044;
}

.about-area .img-box {
  max-width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  background: #b5b5b5;
}
.about-area .img-box img {
  width: 100%;
  height: auto;
}
.about-area .content-area {
  padding-left: 1.5rem;
}
.about-area .content-area .inner-tile {
  margin-bottom: 2.5rem;
}
.about-area .content-area .personal-info {
  padding-top: 1.5rem;
}
.about-area .content-area .personal-info h4 {
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.about-area .content-area .personal-info .info-list {
  margin-bottom: 3rem;
}
.about-area .content-area .personal-info .info-list ul li {
  margin-bottom: 1.5rem;
}
.about-area .content-area .personal-info .info-list ul li p {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
.about-area .content-area .personal-info .info-list ul li p a {
  text-decoration: none;
}
.about-area .content-area .personal-info .info-list ul li p span {
  opacity: 0.7;
}
.about-area .content-area .personal-info .download-btn:hover {
  letter-spacing: 0.1rem;
}

.experience-area ul.nav__menu {
  padding-bottom: 3rem;
}
.experience-area ul.nav__menu li.nav-item button.active {
  background: #ffb400;
}
.experience-area ul.nav__menu li.nav-item:not(:last-child) {
  margin-right: 1.5rem;
}
.experience-area .tab-item .ex {
  padding: 3rem;
  background: #92bfd5;
}
.experience-area .tab-item .ex h4 {
  margin-bottom: 3rem;
}
.experience-area .tab-item .ex h4 label {
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 2.6rem;
  background: #f9f9fc;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.experience-area .tab-item .education-part .edu-list ul li {
  padding: 2rem;
  background: #f9f9fc;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.experience-area .tab-item .education-part .edu-list ul li span {
  font-size: 1.6rem;
  font-weight: 400;
}
.experience-area .tab-item .education-part .edu-list ul li p {
  margin: 1rem 0;
  line-height: 2.6rem;
  font-size: 1.6rem;
}
.experience-area .tab-item .education-part .edu-list ul li:not(:last-child) {
  margin-right: 1.5rem;
}
.experience-area .tab-item .skills-part .skills-bar {
  width: 100%;
  padding: 2rem;
  background: #f9f9fc;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.experience-area .tab-item .skills-part .skills-bar .bar {
  margin: 2rem 0;
}
.experience-area .tab-item .skills-part .skills-bar .bar .info {
  margin-bottom: 0.5rem;
}
.experience-area .tab-item .skills-part .skills-bar .bar .info span {
  font-size: 1.7rem;
  font-weight: 500;
}
.experience-area .tab-item .skills-part .skills-bar .bar .progress-line {
  position: relative;
  height: 1.2rem;
  width: 100%;
  background: #c1c1c1;
  border-radius: 1rem;
}
.experience-area .tab-item .skills-part .skills-bar .bar .progress-line span {
  height: 100%;
  width: 80%;
  background: #1f2044;
  position: absolute;
  border-radius: 1rem;
}
.experience-area
  .tab-item
  .skills-part
  .skills-bar
  .bar
  .progress-line
  span::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  right: 0;
  top: -1rem;
  border: 0.7rem solid transparent;
  border-bottom-width: 0;
  border-right-width: 0;
  border-top-color: #1f2044;
}
.experience-area
  .tab-item
  .skills-part
  .skills-bar
  .bar
  .progress-line
  span::after {
  position: absolute;
  right: 0;
  top: -2.8rem;
  background: #1f2044;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0.1rem 0.8rem;
  font-weight: 500;
  border-radius: 0.3rem;
}
.experience-area .tab-item .skills-part .skills-bar .bar .design span {
  width: 70%;
}
.experience-area .tab-item .skills-part .skills-bar .bar .design span::after {
  content: "70%";
}
.experience-area .tab-item .skills-part .skills-bar .bar .development span {
  width: 45%;
}
.experience-area
  .tab-item
  .skills-part
  .skills-bar
  .bar
  .development
  span::after {
  content: "45%";
}
.experience-area .tab-item .skills-part .skills-bar .bar .uiux span {
  width: 20%;
}
.experience-area .tab-item .skills-part .skills-bar .bar .uiux span::after {
  content: "20%";
}
.experience-area .tab-item .skills-part .skills-bar .bar .app span {
  width: 40%;
}
.experience-area .tab-item .skills-part .skills-bar .bar .app span::after {
  content: "40%";
}
.experience-area .tab-item .skills-part .skills-bar .bar .graphic span {
  width: 45%;
}
.experience-area .tab-item .skills-part .skills-bar .bar .graphic span::after {
  content: "45%";
}
.experience-area .tab-item .skills-part .skills-bar .bar .html span {
  width: 90%;
}
.experience-area .tab-item .skills-part .skills-bar .bar .html span::after {
  content: "90%";
}
.experience-area .tab-item .skills-part .skills-bar .bar .css span {
  width: 85%;
}
.experience-area .tab-item .skills-part .skills-bar .bar .css span::after {
  content: "85%";
}
.experience-area .tab-item .skills-part .skills-bar .bar .javascript span {
  width: 45%;
}
.experience-area
  .tab-item
  .skills-part
  .skills-bar
  .bar
  .javascript
  span::after {
  content: "45%";
}
.experience-area .tab-item .skills-part .skills-bar .bar .react span {
  width: 20%;
}
.experience-area .tab-item .skills-part .skills-bar .bar .react span::after {
  content: "20%";
}
.experience-area .tab-item .skills-part .skills-bar .bar .nodeJs span {
  width: 17%;
}
.experience-area .tab-item .skills-part .skills-bar .bar .nodeJs span::after {
  content: "17%";
}
.experience-area .tab-item .skills-part .skills-bar .bar:first-child {
  margin-top: 0;
}
.experience-area .tab-item .experience-part ul li {
  padding: 2rem;
  background: #f9f9fc;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.experience-area .tab-item .experience-part ul li h5 {
  font-size: 2rem;
}
.experience-area .tab-item .experience-part ul li h6 {
  font-style: italic;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.experience-area .tab-item .experience-part ul li span {
  font-size: 1.6rem;
  font-weight: 400;
}
.experience-area .tab-item .experience-part ul li h4 {
  margin: 2rem 0;
}
.experience-area .tab-item .experience-part ul li h4 label {
  font-size: 1.4rem;
  line-height: normal;
  padding: 0.5rem 1rem;
}
.experience-area .tab-item .experience-part ul li:not(:last-child) {
  margin-bottom: 3rem;
}

.portfolio-area .portfolio_wrapper {
  position: relative;
}
.portfolio-area .portfolio_wrapper .button-group {
  padding-bottom: 2rem;
}
.portfolio-area .portfolio_wrapper .button-group .button {
  display: inline-block;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background: #1f2044;
  color: #ffffff;
  margin-bottom: 1.5rem;
}
.portfolio-area .portfolio_wrapper .button-group .button:hover {
  background: #ffb400;
  color: #ffffff;
}
.portfolio-area .portfolio_wrapper .button-group .button:not(:last-child) {
  margin-right: 0.5rem;
}
.portfolio-area .portfolio_wrapper .button-group .button:active,
.portfolio-area .portfolio_wrapper .button-group .button.is-checked {
  background: #ffb400;
}
.portfolio-area .portfolio_wrapper .button-group:after {
  content: "";
  display: block;
  clear: both;
}
.portfolio-area
  .portfolio_wrapper
  .portfolio-item-box
  .box-item
  .box-content
  ul
  li {
  color: #101357;
  font-size: 1.6rem;
  font-weight: 500;
}
.portfolio-area .portfolio_wrapper :not(:last-child) {
  margin-bottom: 3rem;
}

.contact-area .contact-lines .single-contact-box h6.pc {
  display: flex;
  align-items: flex-end;
  justify-content: start;
}
.contact-area .contact-lines .single-contact-box h6.pc i:before {
  font-size: 2.8rem;
  font-weight: 900;
  margin-right: 1rem;
  vertical-align: middle;
  line-height: 3.2rem;
}
.contact-area .contact-lines .single-contact-box h6.pc span {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Helvetica", sans-serif;
  text-transform: uppercase;
}
.contact-area .contact-lines .single-contact-box p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  line-height: normal;
}
.contact-area .contact-lines .single-contact-box p a {
  font-weight: 400;
}
.contact-area .contact-lines .single-contact-box:not(:last-child) {
  margin-bottom: 3rem;
}
.contact-area .contact-mailform p {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2rem;
  line-height: 3.2rem;
  font-family: "Open Sans", sans-serif;
  opacity: 0.8;
}
.contact-area .contact-mailform .form-wrap .form-input {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.6rem;
  background: #ffffff;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  border: 1px solid transparent;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.contact-area .contact-mailform .form-wrap .form-input:focus {
  border: 1px solid;
  border-color: #ffb400;
  box-shadow: none;
  outline: none;
}
.contact-area .contact-mailform .form-wrap .form-control {
  height: 5rem;
}
.contact-area .contact-mailform .form-button .btn-submit {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 600;
  background: #1f2044;
  padding: 0.8rem 2.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.contact-area .contact-mailform .form-button .btn-submit:hover {
  background: #ffb400;
  color: #ffffff;
}
.contact-area .google_map {
  margin-top: 8rem;
  text-align: center;
}
