.header-area .site-wrapper {
  width: 15%;
}
.header-area .site-wrapper a.navbar-brand {
  font-size: 3rem;
  font-family: "Saira Stencil One", cursive;
  text-decoration: none;
  font-weight: 300;
  color: #03043c;
}
.header-area .site-wrapper a.navbar-brand span {
  color: #03043c(92, 70, 70);
}
.header-area nav.main-nav ul.primary-menu {
  display: flex;
  align-items: center;
}
.header-area nav.main-nav ul.primary-menu li {
  position: relative;
  padding: 0 1.5rem;
}

.header-area.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 9999;
  -webkit-animation: 0.5s ease-in-out;
  animation: 0.5s ease-in-out;
  width: 100%;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.header-top {
  background: #03043c;
  padding: 1.5rem 0;
}
.header-top ul.topbar-support {
  display: flex;
  justify-content: end;
  align-items: center;
}
.header-top ul.topbar-support li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
}
.header-top ul {
  display: flex;
  align-items: center;
}

.header-top ul li:not(:last-child) {
  margin-right: 1.5rem;
}

.header-area .header-btn .primary-btn:hover {
  color: #ffffff;
  background: #ffb400;
}
.header-top ul li a i::before {
  font-size: 1.8rem;
  color: #03043c;
  background: #ffffff;
  padding: 0.5rem;
  border-radius: 5rem;
  vertical-align: middle;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.footer-area {
  background: #e2f1ff;
  padding-top: 5rem;
}
.footer-area .social-area ul.social-links {
  padding: 3rem 0;
}
.footer-area .social-area ul.social-links li {
  position: relative;
}
.footer-area .social-area ul.social-links li:hover .cs-tooltip {
  display: block;
}
.footer-area .social-area ul.social-links li:hover a i:before {
  background: #ffb400;
  color: #03043c;
}
.footer-area .social-area ul.social-links li .cs-tooltip {
  font-size: 1.2rem;
  font-weight: 500;
  background: #03043c;
  color: #ffffff;
  letter-spacing: 0.75px;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  position: absolute;
  top: -5rem;
  left: 0;
  transition: all 0.5s ease-in-out;
  display: none;
  z-index: 1;
}
.footer-area .social-area ul.social-links li .cs-tooltip::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background: #03043c;
  position: absolute;
  bottom: -3px;
  transform: rotate(45deg);
}
.footer-area .social-area ul.social-links li a i:before {
  font-size: 3rem;
  background: #03043c;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #e5e5e5;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}
.footer-area .social-area ul.social-links li:not(:last-child) {
  margin-right: 1.5rem;
}
.copy-right {
  padding-bottom: 0.5rem;
}
.copy-right p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
.copy-right p a {
  transition: all 0.3s ease-in-out;
}
.copy-right p a:hover {
  color: #ffb400;
}
@media (max-width: 1199.98px) {
  .slider-area .slider-content .animated-title h1 {
    font-size: 4.6rem;
    line-height: 6.5rem;
  }
  .element-item .caption {
    width: 92%;
    height: 27rem;
  }
}
@media (max-width: 991.98px) {
  .slider-area {
    padding: 7rem 0;
  }
  .slider-area .slider-content .animated-title h1,
  .slider-area .slider-content .animated-title .word {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
  .slider-area .slider-content p {
    padding-top: 3rem;
  }
  .about-area .content-area {
    padding-left: 0;
    margin-top: 3rem;
  }
  .about-area .img-box {
    margin-top: 5rem;
  }
  .experience-area .tab-item .education-part .edu-list ul {
    flex-direction: column;
  }
  .experience-area .tab-item .experience-part .edu-list ul li:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .experience-area .tab-item .experience-part .edu-list ul {
    margin-bottom: 1.5rem;
  }
  .experience-area .tab-item .education-part .edu-list ul li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
  .experience-area .tab-item .skills-part .skills-bar {
    margin-bottom: 1.5rem;
  }
  .portfolio-area .portfolio_wrapper .element-item .caption {
    height: 26rem;
  }
  .portfolio-area .portfolio_wrapper .element-item .caption p {
    font-size: 1.4rem;
  }
}
@media (max-width: 575.98px) {
  .about-area .content-area {
    text-align: center;
  }
  .about-area .content-area .personal-info .info-list {
    text-align: left;
    flex-direction: column;
  }
  .experience-area ul.nav__menu li.nav-item:not(:last-child) {
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .contact-area .contact-lines {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .contact-area .contact-mailform {
    text-align: center;
    margin-top: 5rem;
  }
  .footer-area .social-area ul.social-links {
    flex-wrap: wrap;
  }
  .footer-area .social-area ul.social-links li {
    margin-right: 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767.98px) {
  .header-area .site-wrapper {
    width: 25%;
    z-index: 999999;
  }
  .hamburger {
    display: block;
    position: relative;
    width: 40px;
    height: 30px;
    margin: 0.8rem 0;
    cursor: pointer;
    border: 3px solid transparent;
    float: right;
    z-index: 999999999;
  }
  .header-area nav.main-nav ul.primary-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: start;
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
  .header-area nav.main-nav ul.primary-menu li a {
    color: #03043c;
    padding: 1rem 0;
    margin: 0;
  }
  .header-area nav.main-nav ul.primary-menu li a.active {
    color: #ffb400;
  }
  .header-area nav.main-nav .sidebar-support .header-btn {
    margin: 0;
    padding: 3rem 0;
  }
  .header-area nav.main-nav .sidebar-support ul.navbar-support li a {
    font-size: 1.6rem;
    font-weight: 700;
  }
  .header-area nav.main-nav .sidebar-support ul.navbar-social-icon {
    padding: 3rem 0;
  }
  .header-area nav.main-nav .sidebar-support ul.navbar-social-icon li {
    position: relative;
  }
  .header-area
    nav.main-nav
    .sidebar-support
    ul.navbar-social-icon
    li:hover
    .cs-tooltip {
    display: block;
  }
  .header-area
    nav.main-nav
    .sidebar-support
    ul.navbar-social-icon
    li:hover
    a
    i:before {
    background: #ffb400;
    color: #03043c;
  }
  .header-area
    nav.main-nav
    .sidebar-support
    ul.navbar-social-icon
    li
    .cs-tooltip {
    font-size: 1.2rem;
    font-weight: 500;
    background: #03043c;
    color: #ffffff;
    letter-spacing: 0.75px;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    position: absolute;
    top: -5rem;
    left: 0;
    transition: all 0.5s ease-in-out;
    display: none;
    z-index: 1;
  }
  .header-area
    nav.main-nav
    .sidebar-support
    ul.navbar-social-icon
    li
    .cs-tooltip::before {
    content: "";
    width: 1rem;
    height: 1rem;
    background: #03043c;
    position: absolute;
    bottom: -3px;
    transform: rotate(45deg);
  }
  .header-area
    nav.main-nav
    .sidebar-support
    ul.navbar-social-icon
    li
    a
    i:before {
    font-size: 2rem;
    background: #03043c;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #e5e5e5;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
  }
  .header-area
    nav.main-nav
    .sidebar-support
    ul.navbar-social-icon
    li:not(:last-child) {
    margin-right: 0.5rem;
  }
  .main-nav ul > li a:hover {
    background: transparent;
    color: #03043c;
  }
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 25rem;
    padding: 2rem 1.5rem;
    z-index: 99999;
    height: 100%;
    overflow: auto;
    background: #e5e5e5;
    transform: translateX(-250px);
    transition: transform 0.3s ease-in;
  }
  .main-nav > ul > li.has-child-menu:after {
    display: none !important;
  }
  .hamburger span {
    width: 100%;
    height: 3px;
    background: #03043c;
    display: block;
    position: absolute;
    right: 0;
    transition: all 0.3s;
  }
  .hamburger span.h-top {
    top: 0;
  }
  .hamburger span.h-bottom {
    bottom: 0.2rem;
    width: 27px;
  }
  .hamburger span.h-middle {
    top: 50%;
    margin-top: -0.3rem;
    width: 25px;
  }
  .hamburger.h-active span {
    width: 80%;
  }
  .hamburger.h-active span.h-top {
    transform: rotate(45deg);
    top: 50%;
    margin-top: -1px;
  }
  .hamburger.h-active span.h-middle {
    transform: translateX(-30px);
    opacity: 0;
  }
  .hamburger.h-active span.h-bottom {
    transform: rotate(-45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
  .main-nav.slidenav {
    transform: translateX(0);
  }
  .main-nav > ul > li {
    display: block;
    padding: 0;
    margin-left: 0;
  }
  .main-nav ul li .fl {
    display: block;
    line-height: 35px;
  }
  .main-nav ul li ul.sub-menu {
    position: static;
    min-width: 200px;
    background: transparent;
    border: none;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    transform: none;
    transition: none;
    padding: 2rem 1.5rem;
  }
  .header-area .main-nav ul.primary-menu li ul.sub-menu > li > a {
    display: block;
    padding: 1rem 0;
    color: #ffffff;
    border: none;
    line-height: 0.8;
    font-size: 1.6rem;
    text-decoration: none;
    transition: all 0.3s;
  }
  .header-area .main-nav ul li .sub-menu > li a.active {
    color: #03043c;
    font-weight: normal;
    font-size: 1.6rem;
  }
  .slider-area .slider-content {
    text-align: center;
  }
  .slider-area .slider-content .animated-title h1 {
    font-size: 4.6rem;
    line-height: 6.5rem;
  }
  .slider-area .slider-content p {
    padding-top: 3rem;
  }
  .slider-area .slider-img-box {
    padding-top: 5rem;
  }
  .about-area .content-area {
    margin-top: 3rem;
    text-align: left;
    padding: 0;
  }
  .about-area .content-area .inner-tile p {
    line-height: 3rem;
  }
  .about-area .content-area .personal-info .info-list {
    text-align: left;
  }
  .portfolio-area .portfolio_wrapper .filters-button-group {
    padding-bottom: 5rem;
  }
  .portfolio-area .portfolio_wrapper .button-group .button {
    margin: 0 1rem 1.5rem 0;
  }
  .contact-area .contact-lines {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contact-area .contact-lines .single-contact-box {
    text-align: center;
  }
  .contact-area .contact-lines .single-contact-box h6.pc {
    justify-content: center;
  }
  .contact-area .contact-lines .single-contact-box p {
    font-size: 1.4rem;
  }
  .contact-area .contact-mailform {
    text-align: center;
  }
  .contact-area .contact-mailform .form-button {
    text-align: left;
  }
  .header-area nav.main-nav ul.primary-menu li > ul.sub-menu > li a {
    color: #03043c !important;
  }
}
